*,
*::before,
*::after {
  box-sizing: border-box;
}

* {
  margin: 0;
  padding: 0;
  background-color: rgb(255, 246, 232);
  font-family: Arial, Helvetica, sans-serif;
}

.header {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px;
  border-bottom: 1px solid lightgrey;
}

.content {
  margin: 20px;
  display: flex;
  justify-content: center;
  gap: 50px;
}

.container {
  display: flex;
  width: 80vh;
  height: 80vh;
  border: 2px solid #a1a1a1;
  box-sizing: content-box;
}

.container .columns {
  display: flex;
  flex-direction: column;
  flex: 1;
}

.columns div {
  border: 0.5px solid white;
  flex: 1;
}

.pencil {
  opacity: 0.1;
}

.technicolor {
  height: 17px;
  width: 17px;
}

.pen-size,
.pen-type,
.pen-color,
.technicolor {
  margin: 7px;
  border: 1px solid gray;
}