*,
*::before,
*::after {
  box-sizing: border-box;
}

* {
  margin: 0;
  padding: 0;
  background-color: rgb(255, 246, 232);
}

.container {
  display: flex;
  width: 500px;
  height: 500px;
  border: 2px solid #a1a1a1;
  box-sizing: content-box;
}

.container .columns {
  display: flex;
  flex-direction: column;
  flex: 1;
}

.columns div {
  border: 0.5px solid white;
  flex: 1;
}

.pen-size,
.pen-type,
.pen-color {
  border: 1px solid gray;
}

.pencil {
  opacity: 0.1;
}
